<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @login.name %>
</p>

<p>
  <strong>Youid:</strong>
  <%= @login.youID %>
</p>

<p>
  <strong>Count:</strong>
  <%= @login.count %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
