    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>

<h1>VIDEOS OF THE WORLD</h1>

 <div id="menu">
   <ul id="onglets">
     <li class="<%= 'active' if params[:sort_by] == 'count' %>"><%= link_to "C'est de la bombe bébé", videos_path(sort_by: "count")  %></li>
     <li class="<%= 'active' if params[:sort_by] == 'updated_at' %>"><%= link_to "Ça vient de tomber", videos_path(sort_by: "updated_at")  %></li>
     <li ><%= link_to "Surprends moi lapin", videos_path(page: 1 + rand(@videos.count()/18) )  %></li>
     <li ><%= link_to "Russian Roulette", "https://www.youtube.com/watch?v="+Video.first(:offset => rand(@videos.count)).youID  %></li>
     <li class="search"><%= search_form_for @q do |f| %>
  <%= f.search_field :title_cont, :placeholder => "viens chercher bonheur...", :id=>"search_field" %>
  <%= f.submit :value=>"Recherche", :id=>"search_button" %>
<% end %></li>
   </ul>
<%= will_paginate @videos %>
 </div>

<div class="corps">



<!-- <table> -->
<!--   <thead> -->
<!--     <tr> -->
<!--       <th>Nom</th> -->
<!--       <th>Thumbnail</th> -->
<!--       <th></th> -->
<!--       <th></th> -->
<!--       <th></th> -->
<!--     </tr> -->
<!--   </thead> -->

<!--   <tbody> -->
    <% @videos.each do |video| %>

      <div class="thumbnails" style="background-image:url('<%="http://i.ytimg.com/vi/"+video.youID+"/0.jpg"%>')";>
	<div class="count"><%=video.count%></div>
	
	<div class="title">
<p><%=video.title%></p>
	  <a href= "https://www.youtube.com/watch?v=<%=video.youID %>"> </a>

	</div>
      </div>
      
      
      <!-- <tr> -->
      <!--   <td><%= link_to video.title, "https://www.youtube.com/watch?v="+video.youID %></td> -->
      <!--   <td><%= image_tag("http://i.ytimg.com/vi/"+video.youID+"/0.jpg")  %></td> -->
      <!-- 	<td> -->
      <!-- 	  <% Login.find_all_by_youID(video.youID).each do |nick|  %> -->
      <!-- 	    <div><%=nick.name%> -->
      <!-- 	      <%= nick.count%></div> -->
      <!-- 	  <% end %> -->
      <!-- 	</td> -->
      <!-- 	<td><%= video.count %></td> -->
      <!-- 	<td><%= link_to 'Show', video %></td> -->
      <!--   <td><%= link_to 'Edit', edit_video_path(video) %></td> -->
      <!--   <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      <!-- </tr> -->
    <% end %>
<!--   </tbody> -->
<!-- </table> -->
</div>

</div>
<br>

    <script type="text/javascript">  
      var positionElementInPage = $("#menu").offset().top;
      $(window).scroll(
        function() {
          if ($(window).scrollTop() >= positionElementInPage) {
            // fixed
            $('#menu').addClass("floatable");
          } else {
            // relative
            $('#menu').removeClass("floatable");
          }
        }
      );
    </script>
