<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Youid:</strong>
  <%= @video.youID %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @video.comment %>
</p>
<p>
  <strong>Count:</strong>
  <%= @video.count %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
